*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#3b3b3b;
font-family:Arial;
overflow-x:hidden;
color:white;
}

.inicio{
width:100%;
height:100vh;
position:fixed;
top:0;
left:0;
z-index:100;
overflow:hidden;
animation:subir 2s forwards 4s;
}

.espadachin{
width:100%;
height:100vh;
object-fit:cover;
object-position:center;
background-size:cover;
background-position:center;
}

.titulo{
position:absolute;
top:50%;
left:50%;
transform:translate(-40%,-50%);
width:100%;
z-index:2;
text-align:center;
}

.text{
width:100%;
fill:transparent;
stroke:white;
stroke-width:3;
stroke-dasharray:5000;
stroke-dashoffset:5000;
animation:escribir 4s forwards;
}

.text text{
font-size:90px;
font-family:Arial;
font-weight:bold;
}

@keyframes escribir{
0%{
stroke-dashoffset:5000;
}

90%{
fill:transparent;
}

100%{
fill:white;
stroke-dashoffset:0;
}
}

@keyframes subir{
from{
top:0;
}

to{
top:-600%;
}
}

#contenido{
position:relative;
z-index:1;
padding:40px;
}

h1{
text-align:center;
font-size:55px;
margin-bottom:50px;
color:#e4e4e4c1;
text-shadow:0 0 10px #1caae2;
}

#contenedor{
max-width:1200px;
margin:auto;
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:35px;
}

.proyecto{
width:340px;
background:#1f1f1f;
border-radius:20px;
padding:20px;
}

.proyecto h2{
text-align:center;
margin-bottom:20px;
color:#b8d94c;
text-shadow:0 0 10px #b6c1c5;
}

.proyecto ol{
margin-left:25px;
}

.proyecto li{
margin:10px 0;
}

.proyecto a{
color:white;
text-decoration:none;
outline:none;
-webkit-tap-highlight-color:transparent;
}


.imagen{
width:100%;
height:170px;
margin-top:20px;
border-radius:15px;
background-size:cover;
background-position:center;
}

.img1{
background-image:url("../img/imagen10.jpg");
}

.img2{
background-image:url("../img/imagen11.jpg");
}

.img3{
background-image:url("../img/imagen12.jpg");
}

.img4{
background-image:url("../img/imagen13.jpg");
}

.img5{
background-image:url("../img/imagen14.jpg");
}

.img6{
background-image:url("../img/imagen15.jpg");
}

footer{
margin-top:50px;
text-align:center;
font-size:28px;
font-weight:bold;
padding-bottom:30px;
}