*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:
linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
url(img/fondo.jpg);
background-size:cover;
background-position:center;
background-attachment:fixed;
font-family:"century gothic";
min-height:100vh;
overflow-x:hidden;
}

#contenido{
width:70%;
padding:40px;
}

h1{
color:rgba(165,42,42,0);
text-align:center;
font-size:60px;
margin-top:30px;
margin-bottom:25px;
animation:titulo 3s forwards;
}

@keyframes titulo{
from{
color:rgba(128,0,128,0);
}

to{
color:rgba(190,120,255,1);
}
}

h2{
text-align:center;
color:white;
font-size:30px;
margin-bottom:35px;
opacity:0;
animation:aparecer 3s 3s forwards;
}

@keyframes aparecer{
from{
opacity:0;
}

to{
opacity:1;
}
}

p{
text-align:center;
color:white;
font-weight:bold;
opacity:0;
width:82%;
margin:30px auto;
line-height:1.8;
font-size:22px;
}

.p1{
animation:texto 3s 9s forwards;
}

.p2{
animation:texto 3s 15s forwards;
}

@keyframes texto{
from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0px);
}
}

img{
height:250px;
width:250px;
display:block;
margin:auto;
opacity:0;
border:5px solid white;
box-shadow:0 0 25px rgba(255,255,255,.5);
}

.img1{
animation:imagen 3s 6s forwards;
}

.img2{
animation:imagen 3s 12s forwards;
}

@keyframes imagen{
from{
opacity:0;
transform:scale(.7);
}

to{
opacity:1;
transform:scale(1);
}
}

#panel{
width:300px;
height:650px;
background:rgba(30,30,30,.92);
position:fixed;
right:35px;
top:35px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:40px;
box-shadow:0 0 35px black;
}

#snopy{
width:220px;
height:220px;
background:url(../img/Snopy.jpg);
background-size:cover;
background-position:center;
border:5px solid white;
box-shadow:0 0 25px white;
animation:flotar 2s infinite alternate;
}

@keyframes flotar{
from{
transform:translateY(0px);
}

to{
transform:translateY(-12px);
}
}

.boton{
padding:18px 45px;
background:#7d4dff;
box-shadow:0 0 25px #7d4dff;
}

.boton a{
text-decoration:none;
color:white;
font-size:28px;
font-weight:bold;
}